{% include 'header.html' %}
<section id="banner">
					<div class="content">
						<header>
							<h2 class="signup-text">Comment Section</h2>
							<br>
							<section>

							</section>
						</header>
<!--						<span class="image"><img src="https://images.unsplash.com/photo-1600096194534-95cf5ece04cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="" /></span>-->
					</div>
					<a href="#footer" class="goto-next scrolly">Next</a>
</section>
{% include "footer.html" %}