<footer id="footer">
    <ul class="icons">
        <li><a class="icon brands alt fa-twitter" href="#"><span class="label">Twitter</span></a></li>
        <li><a class="icon brands alt fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
        <li><a class="icon brands alt fa-linkedin-in" href="#"><span class="label">LinkedIn</span></a></li>
        <li><a class="icon brands alt fa-instagram" href="#"><span class="label">Instagram</span></a></li>
        <li><a class="icon brands alt fa-github" href="#"><span class="label">GitHub</span></a></li>
        <li><a class="icon solid alt fa-envelope" href="#"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; VITRATE. All rights reserved.</li>
        <li>Made with 🧡 by <a href="">Krish</a> and <a href="">Harsh</a>. Idea by <a href="">just Lohit</a></li>
    </ul>
</footer>

</div>

<!-- Scripts -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.scrolly.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.dropotron.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.scrollex.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/browser.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/breakpoints.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>
</html>