<footer id="footer">
    <ul class="icons">
        <li><a class="icon brands alt fa-github" href="https://github.com/Harshkrsingh05" onclick="window.open('https://github.com/Krish-tiwari212')"><span class="label">GitHub</span></a></li>
        <li><a class="icon brands alt fa-linkedin-in" href="https://github.com/Harshkrsingh05" onclick="window.open('https://www.linkedin.com/in/krish-tiwari-6686b1266/')"><span class="label">LinkedIn</span></a></li>
        <li><a class="icon brands alt fa-instagram" href="https://www.instagram.com/harsh_s_ngh/" onclick="window.open('https://www.instagram.com/krish_badmash212/')"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; VITRATE. All rights reserved.</li>
        <li>Made with 🧡 by <a href="https://github.com/Krish-tiwari212">Krish</a> and <a href="https://github.com/Harshkrsingh05">Harsh</a>. Idea by <a href="https://www.instagram.com/lohitakshaaa/">Just Lohit</a></li>
    </ul>
</footer>

</div>

<!-- Scripts -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
<script src="{{url_for('static',filename='assets/js/jquery.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.scrolly.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.dropotron.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/jquery.scrollex.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/browser.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/breakpoints.min.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/util.js')}}"></script>
<script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

</body>
</html>