<!DOCTYPE HTML>

<html>
	<head>
		<title>Vitrate - Rate Your Faculties</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="keyword" content="vit faculty review,course reviews,vit faculty,faculty review vit,professor reviews,faculty review,rate courses,professor ratings,vit chennai faculty review,rate your professor,your course,vit rating,your rate,your professor,vit chennai rating,rate your course,faculty rating"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{url_for('static',filename='assets/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{url_for('static',filename='assets/css/noscript.css')}}" /></noscript>
		<link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9335326383917623" crossorigin="anonymous"></script>
	</head>
<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a href="{{url_for('home')}}">Vitrate</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="{{url_for('home')}}">Home</a></li>
							<li>
								<a href="{{url_for('all_prof',num=0)}}">All Faculties</a>

							</li>
							<li><a href="{{url_for('help')}}">Help</a></li>

							{% if not current_user.is_authenticated or current_user.id==None: %}
							<li><a href="{{url_for('signup')}}" class="button primary">Sign Up</a></li>
							<li><a href="{{url_for('login')}}" class="button primary">Log In</a></li>
							{% else: %}
							<li><a href="{{url_for('logout')}}" class="button primary">Logout</a></li>
							{% endif %}
						</ul>
						
					</nav>
				</header>
