{% include 'header.html' %}

<section id="banner">
    <div class="content">
      <div class="row">
        <div class="col-8"><div class="bd-cheatsheet container-fluid bg-body">
          <section id="content">
            <!-- <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3">Contents</h2> -->
        
            <article class="my-3" id="howtouse">
              <div class="bd-heading sticky-xl-top text-start mt-5 mb-3 mt-xl-0 mb-xl-2">
                <h3>How to use</h3>
              </div>
                <div class="bd-example text-start">
                <p class="h1">SignUp</p>
                </div>
        
                <div class="bd-example text-start">
                  <p class="lead">1. Open the college faculty rating website in your preferred web browser.</p>
                  <p class="lead">2. Look for the "Sign Up" or "Create an Account" option on the website's homepage.</p>
                  <p class="lead">3. Click on the appropriate link and provide the required information, such as your name, email address, and a unique username/password combination.</p>
                  <p class="lead">4. Follow the instructions provided to complete the sign-up process. Some websites may require email verification, so check your email and follow the verification link if necessary.</p>
                </div>
        
                <div class="bd-example ">
                <blockquote class="blockquote">
                  <p>Good teaching must be slow enough so that it is not confusing, and fast enough so that it is not boring.</p>
                  <footer class="blockquote-footer">Sidney<cite title="Source Title">  J. Harris</cite></footer>
                </blockquote>
                </div>
            </article>
            <article class="my-3" id="searchforfaculty">
                <div class="bd-example text-start">
                <p class="h1">Search for faculty</p>
                </div>
        
                <div class="bd-example text-start">
                  <p class="lead">1. After signing up and logging in to the website, you will typically be directed to the homepage or a search page.</p>
                  <p class="lead">2. Locate the search bar, usually at the top of the page, and click on it to activate..</p>
                  <p class="lead">3. Enter the name of the faculty member you wish to search for. You can also search by course name or department to find specific professors teaching a particular subject.</p>
                  <p class="lead">4. Once you have entered the search criteria, click on the "Search" or "Find" button to initiate the search process.</p>
                </div>
        
                <div class="bd-example">
                <blockquote class="blockquote">
                  <p>In an effective classroom, students should not only know what they are doing, they should also know why and how.</p>
                  <footer class="blockquote-footer">Harry <cite title="Source Title">wong</cite></footer>
                </blockquote>
                </div>
            </article>
            <article class="my-3" id="ratingfaculty">
              <div class="bd-example text-start">
              <p class="h1">Rating Faculty</p>
              </div>
      
              <div class="bd-example text-start">
                <p class="lead">1. After searching for the faculty member, you should see their profile or a list of relevant results.</p>
                <p class="lead">2. Click on the desired faculty member's name to access their profile page.</p>
                <p class="lead">3. On the profile page, you will usually find information about the faculty member, such as their name, department, courses taught, and previous ratings.</p>
                <p class="lead">4. Locate the option to rate the faculty member represented by stars.</p>
                <p class="lead">5. Consider your personal experience with the faculty member and choose the appropriate rating. Higher ratings generally indicate positive experiences, while lower ratings reflect less satisfactory experiences.</p>
                <p class="lead">6. After selecting the rating, make sure to provide any additional comments or feedback in the designated text box. This can be helpful for other students seeking more detailed insights.</p>
                <p class="lead">7. Once you have given the faculty member a rating and written any comments, click on the "Submit" or "Save" button to save your rating and contribute it to the website.</p>
              </div>
      
              <div class="bd-example ">
              <blockquote class="blockquote">
                <p>The important thing is not so much that every child should be taught as that every child should be given the wish to learn.</p>
                <footer class="blockquote-footer">John <cite title="Source Title">Lubbock</cite></footer>
              </blockquote>
              </div>
          </article>
          <article class="my-3" id="howtocomment">
            <div class="bd-example text-start">
            <p class="h1">How to comment on profile.</p>
            </div>
    
            <div class="bd-example text-start">
              <p class="lead">1. After accessing the faculty member profile page, you should see information about the faculty member, such as their name, department, courses taught, and previous ratings.</p>
              <p class="lead">2. After locating the option to rate the faculty member represented by stars you see a comment section below rating.</p>
              <p class="lead">3. For commenting you first need to have a github account.</p>
              <p class="lead">4. As comment section is github discussion pannel for better gifs and emoji supports you need to sign in through github.</p>
              <p class="lead">5. After connecting to github comment whatever you want than click on submit.</p>
            </div>
    
            <div class="bd-example">
            <blockquote class="blockquote">
              <p>Teaching should be such that what is offered is perceived as a valuable gift and not as a hard duty.</p>
              <footer class="blockquote-footer">Sir <cite title="Source Title">Albert Einstein</cite></footer>
            </blockquote>
            </div>
        </article>
        <article class="my-3" id="faqs">
          <div class="bd-example text-start">
          <p class="h1">Frequently asked Questions</p>
          </div>
  
          <div class="bd-example text-start">
            <p class="lead">Q. Is my rating data is anonymous?</p>
            <p><small>Ans. Your data is treated with the utmost care and respect on our college faculty rating website. We prioritize the anonymity and privacy of your information, ensuring that your ratings and comments are submitted anonymously. We employ robust security measures and adhere to strict data handling policies to protect your data from unauthorized access or disclosure. Feel confident in utilizing our platform to share your experiences while maintaining your anonymity. </small></p>
            <p class="lead">Q. Is my sign up password is stored in your database?</p>
            <p><small>Ans. The website does not store the password in its database. Instead, the website likely follows a different approach for authentication and password handling and i.e Password Hashing.</small></p>
            <p class="lead">Q. How we trust the rating given on your Website is correct?</p>
            <p><small>Ans. Currently we can't assure 100 percent guarantee that rating is correct or not, But the rating given by our committee is verified and trusted as they studied under those faculties. Make sure to rate honestly so that rating show honest review and some student get relief.</small></p>
          </div>
  
          </section>
        </div></div>
        <div class="col-4"><aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
          <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">On this page</h2>
          <nav class="small" id="toc">
            <ul class="list-unstyled">
              <li class="my-2">
                <button class="btn d-inline-flex align-items-center" style="color: white;"data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Contents</button>
                <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
                  <li><a class="d-inline-flex align-items-center rounded" style="font-size: medium;" href="#howtouse">How to use</a></li>
                  <li><a class="d-inline-flex align-items-center rounded" style="font-size: medium;" href="#howtouse">SignUp</a></li>
                  <li><a class="d-inline-flex align-items-center rounded" style="font-size: medium;" href="#searchforfaculty">Search your faculty</a></li>
                  <li><a class="d-inline-flex align-items-center rounded" style="font-size: medium;" href="#ratingfaculty">Rating Faculty</a></li>
                  <li><a class="d-inline-flex align-items-center rounded" style="font-size: medium;" href="#howtocomment">How to comment.</a></li>
                  <li><a class="d-inline-flex align-items-center rounded" style="font-size: medium;" href="#faqs">Frequently asked Questions.</a></li>

                </ul>
              </li>
              
            </ul>
          </nav>
        </aside></div>
      </div>
          
          
    </div>
</section>



{% include 'footer.html' %}
