{% include "header.html" %}

<!-- Main -->
<div class="wrapper style1" id="main">
    <div class="container">
        <header class="major">
            <h2>All Faculties Of VIT Chennai</h2>
            <p>Review and rate the faculties</p>
            <form action="{{url_for('search')}}" method="post">
                <div class="input-group mb-3">
                    <input aria-describedby="basic-addon2" aria-label="search" class="form-control" name="searchquery"
                           placeholder="Search For a Faculty" type="text">
                    <div class="input-group-append">
                        <button class="button primary small" type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
            </form>
        </header>

        <!-- Content -->
        <section id="content">
            <div class="album">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2  row-cols-lg-3">
                        {% if (n|int*12)+12<1251: %}
                        {% for i in range(n|int*12,(n|int*12)+12): %}
                        <div class="col">
                            <div class="card">
                                <div class="front"
                                     style="background-image: url('{{l[i]['image']}}');">
                                </div>
                                <div class="back">
                                    <div>
                                        <div class="title">{{l[i]['name']}} <span class="release_date">{{l[i]['designation']}}</span>
                                        </div>
                                        <div class="rating">
                                            <p class="large">Total Ratings : {{ rating[l[i]['id']]['num'] }}</p>
                                            <br>
                                            {% if l[i]['id']|int in rating: %}
                                            <label>{{ rating[l[i]['id']]["da"] }} ⭐ For Marks </label>
                                            <label>{{ rating[l[i]['id']]["attendance"] }} ⭐ For Attendance</label>
                                            <label>{{ rating[l[i]['id']]["marks"] }} ⭐ For Teaching</label>
                                            <label>{{ rating[l[i]['id']]["re"] }} ⭐ For Research</label>
                                            {% else: %}
                                            <label>Unrated ⭐</label>
                                            <!--                                                <i class="fas fa-star star"></i>-->
                                            {% endif %}
                                        </div>
                                        <!--                                        <p class="review">"Very Good"</p>-->
                                        <p class="overview">
                                            <a href="{{l[i]['link']}}"></a>
                                        </p>

                                        <a class="button primary small fit update"
                                           href="{{url_for('review',num=l[i]['id'])}}">Rate or View Comments</a>


                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else: %}
                        {% for i in range(n|int*12,1251): %}
                        <div class="col">
                            <div class="card">
                                <div class="front"
                                     style="background-image: url('{{l[i]['image']}}');">
                                </div>
                                <div class="back">
                                    <div>
                                        <div class="title">{{l[i]['name']}} <span class="release_date">{{l[i]['designation']}}</span>
                                        </div>
                                        <div class="rating">
                                            <p class="large">Total Ratings : {{ rating[l[i]['id']]['num'] }}</p>
                                            <br>
                                            {% if l[i]['id']|int in rating: %}
                                            <p>{{ rating[l[i]['id']]["da"] }} ⭐ For Marks </p>
                                            <p>{{ rating[l[i]['id']]["attendance"] }} ⭐ For Attendance</p>
                                            <p>{{ rating[l[i]['id']]["marks"] }} ⭐ For Marks</p>
                                            <p>{{ rating[l[i]['id']]["re"] }} ⭐ For Research</p>
                                            {% else: %}
                                            <label>Unrated ⭐</label>
                                            <!--                                                <i class="fas fa-star star"></i>-->
                                            {% endif %}
                                        </div>
                                        <!--                                        <p class="review">"Very Good"</p>-->
                                        <p class="overview">
                                            <a href="{{l[i]['link']}}"></a>
                                        </p>
                                        <ul class="actions small">
                                            <li><a class="button primary small fit update"
                                                   href="{{url_for('review',num=l[i]['id'])}}">Rate Or View Comments</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <ul class="actions small">
                    {% if n|int ==-1 or n|int ==104: %}
                    <li><a class="button small fit" href="{{url_for('all_prof',num=n|int-1)}}">Back</a></li>
                    <li><a class="button small fit" href="{{url_for('all_prof',num=0)}}">1st</a></li>
                    <li><a class="button primary small fit" href="{{url_for('all_prof',num=n|int-2)}}">{{n|int-2}}</a>
                    </li>
                    <li><a class="button primary small fit" href="{{url_for('all_prof',num=n|int-1)}}">{{n|int-1}}</a>
                    </li>
                    {% else: %}
                    <li><a class="button small fit" href="{{url_for('all_prof',num=n|int-1)}}">Back</a></li>
                    <li><a class="button small fit" href="{{url_for('all_prof',num=0)}}">1st</a></li>
                    <li><a class="button primary small fit" href="{{url_for('all_prof',num=n)}}">{{n|int+1}}</a></li>
                    <li><a class="button small fit" href="{{url_for('all_prof',num=n|int+1)}}">{{n|int+2}}</a></li>
                    <li><a class="button small fit" href="{{url_for('all_prof',num=n|int+2)}}">{{n|int+3}}</a></li>
                    <li><a class="button small fit" href="{{url_for('all_prof',num=104)}}">Last</a></li>
                    {% endif %}
                </ul>
            </div>

        </section>

    </div>
</div>

<!-- Footer -->
{% include "footer.html" %}
