{% include "header.html" %}

<!-- Main -->
<div class="wrapper style1" id="main">
    <div class="container">
        <header class="major">
            <h2>All Search Results For '{{name}}' Query</h2>
        </header>

        <!-- Content -->
        <section id="content">
            <div class="album">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2  row-cols-lg-3">
                        {% for l in li: %}
                        <div class="col">
                            <div class="card">
                                <div class="front"
                                     style="background-image: url('{{l['image']}}');">
                                </div>
                                <div class="back">
                                    <div>
                                        <div class="title">{{l['name']}} <span class="release_date">{{l['designation']}}</span>
                                        </div>
                                        <div class="rating">
                                            <br>
                                            {% if l['id']|int in rating: %}
                                            <label>{{ rating[l['id']]["da"] }} ⭐ For Marks </label>
                                            <label>{{ rating[l['id']]["attendance"] }} ⭐ For Attendance</label>
                                            <label>{{ rating[l['id']]["marks"] }} ⭐ For Teaching</label>
                                            <label>{{ rating[l['id']]["re"] }} ⭐ For Research</label>
                                            {% else: %}
                                            <label>Unrated ⭐</label>
                                            <!--                                                <i class="fas fa-star star"></i>-->
                                            {% endif %}
                                        </div>
                                        <!--                                        <p class="review">"Very Good"</p>-->
                                        <p class="overview">
                                            <a href="{{l['link']}}"></a>
                                        </p>
                                        <a class="button primary small fit update"
                                                   href="{{url_for('review',num=l['id'])}}">Rate or View Comments</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </section>

    </div>
</div>

<!-- Footer -->
{% include "footer.html" %}